<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Speech Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class=speech-container>
        <h1>Upload new File</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <br>
            <input type="submit" id="submbtn" value="Transcribe">
        </form>
    </div>

    {% if transcript != "" %}
    <div class="sr-transcript">
        <h1>
            Transcript
        </h1>
        <p id="text">
            {{ transcript }}
        </p>
    </div>
    {% endif %}
</body>
</html>